paths.ros.log=/home/jharbin/academic/atlas/atlas-middleware/expt-working/ros/logs/
paths.bash_script=/home/jharbin/academic/atlas/atlas-middleware/bash-scripts/
paths.working=/home/jharbin/academic/atlas/atlas-middleware/expt-working/ros/
paths.middleware=/home/jharbin/academic/atlas/atlas-middleware/expt-working/ros/
